/*-- scss:defaults --*/

// Google font import
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// fonts
$font-family-sans-serif: 'Lato', sans-serif;

// colors
// warm
$light-orange: #ECBD95;
$dark-orange: #BE5A47;
$bright-orange: #f59090;

// blues
$light-blue: #79ACBD;
$light-blue2: #6592D6;
$dark-blue: #346575;
$slate-blue: #84A6A2;
$dark-blue2: #375377;
$turquoise: #4CA2B0;

// greens
$dark-green: #03210f;

// greys and creams
$light-cream: #fcfaf5;
$cream: #E4DECE;
$light-grey: #f7faf8;
$light-grey2: #CAC8CF;
$grey: #9BB1BB;

// purples
$purple: #654783;

// quarto sass variables
$navbar-bg: $dark-blue;
$navbar-fg: $light-cream; 
$navbar-hl: $bright-orange; 
$body-color: $dark-green;
$footer-bg: $light-blue; 
$link-color: $dark-orange;

/*-- scss:rules --*/

// header font & color
h1, h2, h3, h4 {
  font-family: $font-family-sans-serif;
  color: $dark-blue2;
}

// line beneath h2
h2 {
  border-bottom: 1px solid $dark-blue2;
  padding-bottom: 0.5rem;
}

.large-fa-icon {
  font-size: 2.5em;
}

// XL body text
.body-text-xl {
  font-size: 30px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

// L body text
.body-text-l {
  font-size: 25px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

// M body text
.body-text-m {
  font-size: 20px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

// S body text
.body-text-s {
  font-size: 14px;
	line-height: 0.3em;
}

.table {
  border-top: $grey;
}

thead, tbody, tfoot, tr, td, th {
  border-color: $grey !important;
  border-bottom: $grey;
  border-style: solid;
  border-width: 0;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    color: #fcfaf5;
}
